:root {
    --white: #ffffff;
    --blue: #1d3557;
    --red: #96121d;
  }

a {
    color: var(--red) !important;
}

body {
    background-color: var(--background);
}

p, label, input, select, option, .dataTables_info {
    color: var(--blue) !important;
}

td {
    color: var(--blue);
}

th {
    color: var(--red);
}

.above_avg {
    background-color: var(--blue);
    color: var(--white);
}

.below_avg {
    background-color: var(--red);
    color: var(--white);
}
