:root {
    --white: #ffffff;
    --blue: #1d3557;
    --red: #96121d;
  }

a {
    color: var(--red) !important;
}

body {
    background-color: var(--background);
}

p, label, input, select, option, td {
    color: var(--blue);
}

h1, h3 {
    color: var(--blue) !important;
}

th {
    color: var(--red);
}

.above_avg {
    background-color: var(--blue);
    color: var(--white) !important;
}

.below_avg {
    background-color: var(--red);
    color: var(--white) !important;
}

.dataTables_info{
    color: var(--blue) !important;
}

.hidden {
    display: none;
}
