<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PyHL Index</title>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <table id="table_id" class="display">
        <thead>
            <tr>
            {% for header in headers %}
                <th>{{header}}</th>
            {% endfor %}
            </tr>
        </thead>

        <tbody>
            {% for _, skater in skaters.iterrows() %}
                <tr>
                    <td>{{skater['playername']}}</td>
                    <td>{{skater['currentteam']}}</td>
                    <td>{{skater['position']}}</td>
                    <td>{{skater['goals']}}</td>
                    <td>{{skater['GPG']}}</td>
                    <td>{{skater['assists']}}</td>
                    <td>{{skater['APG']}}</td>
                    <td>{{skater['shots']}}</td>
                    <td>{{skater['SPG']}}</td>
                    <td>{{skater['games']}}</td>
                    <td>{{skater['points']}}</td>
                    <td>{{skater['PPG']}}</td>
                    <td>{{skater['timeonicepergame']}}</td>
                </tr>
            {% endfor %}
        </tbody>
     
    </table>


    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready( function () {
            $('#skaters').DataTable();
        } );
    </script>
        <script>
            $(document).ready( function () {
                $('#table_id').DataTable();
            } );
        </script>
</body>
</html>