<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PyHL Index</title>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <!-- {% for table in skater_tables %}
    {{ table|safe }}
    {% endfor %} -->
    <table id="skater_table">
        
            <tr>
            {% for header in headers %}
                <th>{{header}}</th>
            {% endfor %}
            </tr>

        {% for _, skater in skaters.iterrows() %}
            <tr>
                <td>{{skater['id']}}</td>
            </tr>
        {% endfor %}
    </table>
    
    


    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
    <script>
    $(document).ready( function () {
        $('#skater_table').DataTable();
    } );
    </script>
</body>
</html>